{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h5 class="mb-0">Confirm Deletion</h5>
                </div>
                <div class="card-body">
                    <p class="lead">Are you sure you want to delete the data source "{{ datasource.name }}"?</p>
                    <p>This action cannot be undone and will also delete all associated pipeline runs.</p>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="mt-4">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                            <a href="{% url 'datasource-detail' datasource.id %}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 